node_modules/
node_modules/
ManufacturerExercise-Front/package-lock.json/
/ManufacturerExercise-Front/package-lock.json/
ManufacturerExercise-Front/node_modules/
/ManufacturerExercise-Front/node_modules/